body {
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 830px;
    background-color: #d9d9d9;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin-top: 30px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn-lg {
  padding: 14px 24px;
  font-size: 21px;
}
.jumbotron p.small {
  font-size: 13px;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
h4.not-found {
  margin-bottom: 15px;
  margin-left: 10px;
}
.header .nav li {
    display: none;
}
.header .nav li.visible {
    display: block;
}
.header .nav .form-group {
    margin-top: 4px;
    margin-right: 5px;
}
ul#search-results {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 10px;
}
form#main-form {
    margin: 30px 0;
    padding: 0 10px;
}
form#main-form p.bg-danger {
    padding: 0 2px;
    margin-top: 2px;
}
ul#posts {
    list-style-type: none;
    padding: 0 5px;
    margin-bottom: 25px;
    overflow: hidden;
}
ul#posts li {
    border: 1px solid #DDD;
    
    padding: 5px;
}
ul#posts li hr {
    margin: 5px 0;
}

.postdiv {  
   max-width: 750px;
   margin:0 auto;
   background-color: white;
}

.postarea {
   resize:none;
   max-width:700px;
   width:100%;
   outline:none;
   border:0px solid;
}

