body {
  /* padding-top: 20px; by alantai */ 
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
.header {
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* alantai */
.my_navbar_search{
  padding: 8px;
}
.my_front_page{
  min-height: 400px;
  width: 100%;
}
#front_page_map{
  text-align: center;
}
#front_page_map > p > a.signup_btn{
  color: #fff !important;
<<<<<<< HEAD
}

/* ===========================
--- signup
============================ */
.boxed-grey {
  background: #f9f9f9;
  padding: 20px;
}
form#signup-form .form-group label {
  text-align: left !important;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
form#signup-form input,form#signup-form select,form#signup-form textarea {
  border-radius: 0;
  border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}
=======
}

/* ===========================
--- signup
============================ */
.boxed-grey {
  background: #f9f9f9;
  padding: 20px;
}
form#signup-form .form-group label {
  text-align: left !important;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
form#signup-form input,form#signup-form select,form#signup-form textarea {
  border-radius: 0;
  border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

>>>>>>> 77df69031ddc489dfbe7567c0d76138fe2cabf43
form#signup-form input:focus,form#signup-form select:focus,form#signup-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}
.widget-signup {
  text-align: left;
}
.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
/* end of alantai */

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin-top: 30px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn-lg {
  padding: 14px 24px;
  font-size: 21px;
}
.jumbotron p.small {
  font-size: 13px;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
h4.not-found {
  margin-bottom: 15px;
  margin-left: 10px;
}
.container .header .nav li {
    display: none;
}
.container .header .nav li.visible {
    display: block;
}
.container .header .nav .form-group {
    margin-top: 4px;
    margin-right: 5px;
}
ul#search-results {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
form#main-form {
    margin: 30px 0;
    padding: 0 10px;
}
form#main-form p.bg-danger {
    padding: 0 2px;
    margin-top: 2px;
}
ul#posts {
    list-style-type: none;
    padding: 0 5px;
    margin-bottom: 25px;
    overflow: hidden;
}
ul#posts li {
    border: 1px solid #DDD;
    margin-bottom: 5px;
    padding: 5px;
}
ul#posts li hr {
    margin: 5px 0;
}
/* for specific media sizes */
<<<<<<< HEAD
@media (min-width: 1200px){}
@media (min-width: 768px) and (max-width: 1199px) {
=======
@media (min-width: 768px) {
>>>>>>> 77df69031ddc489dfbe7567c0d76138fe2cabf43
  .container {
    max-width: 730px;
  }
}
<<<<<<< HEAD
@media (min-width: 481px) and (max-width: 767px){
  #front_page_map{
    max-width: 230px;
  }
}
@media (max-width: 480px){}
/* end of for specific media sizes */
=======
@media (max-width: 767px){
  #front_page_map{
    max-width: 230px;
  }
}
>>>>>>> 77df69031ddc489dfbe7567c0d76138fe2cabf43
