{%include templates/header.html%}
<div class="row">
    <div class="col-lg-12" style="padding: 0 25px; text-align: justify">
        <h1>Facebooc</h1>
        <p class="lead">
            I bet a friend that a semi-competent dev. could write a basic
            Facebook clone in C in a couple of days. To make things a bit more
            interesting I decided not to use anything other than the standard GNU
            C lib and SQLite3. This is the result.
        </p>
    </div>
</div>
{%include templates/footer.html%}
