{%include templates/header.html%}
<div class="coverboard">
    <div class="welcome">Welcome back, {{accountName}}!</div>
    <p>
        Here's what your friends have been up to:
    </p>
</div>

<form class="post" action="/post/" method="POST" id="main-form" role="form">
    <div class="form-group">
        <textarea class="form-control"
                  id="post"
                  name="post"
                  rows="3"
                  placeholder="What would you like to share?"></textarea>
    </div>

    <input class="btn btn-inline pull-right" type="submit" value="Post" />
    <div class="clearfix"></div>
</form>

{{graph}}

{%include templates/footer.html%}
