        <div class="footer">
            <p>Facebooc &copy; 2016</p>
        </div>
    </div>
    <script type="text/javascript" src="/static/jq_plugin/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <!-- angularjs -->
    <script type="text/javascript" src="/static/angular-1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="/static/angular-1.5.5/angular-animate.min.js"></script>
    <!-- leaflet -->
    <script type="text/javascript" src="/static/leaflet-0.7/leaflet.min.js"></script>
    <!-- d3 -->
    <script type="text/javascript" src="/static/d3/d3.min.js"></script>
    <script type="text/javascript" src="/static/d3/queue.v1.min.js"></script>
    <script type="text/javascript" src="/static/d3/topojson.v1.min.js"></script>
    <!-- timbre -->
    <script type="text/javascript" src="/static/timbre/timbre.dev.js"></script>
    <script type="text/javascript" src="/static/timbre/js/codemirror.js"></script>
    <script type="text/javascript" src="/static/timbre/js/javascript.js"></script>
    <script type="text/javascript" src="/static/timbre/js/xml.js"></script>
    <script type="text/javascript" src="/static/timbre/js/htmlmixed.js"></script>
    <script type="text/javascript" src="/static/timbre/js/subcollider.js"></script>
    <script type="text/javascript" src="/static/timbre/js/common.js"></script>
    <!-- self-defined -->
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
