        <div class="footer">
            facebooc &copy; 2016
        </div>
        <script type="text/javascript" src="/static/jq-1.12.3/jquery-1.12.3.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/angular-1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="/static/angular-1.5.5/angular-animate.min.js"></script>
        <script type="text/javascript" src="/static/timbre/timbre.dev.js"></script>
        <script type="text/javascript" src="/static/timbre/js/codemirror.js"></script>
        <script type="text/javascript" src="/static/timbre/js/javascript.js"></script>
        <script type="text/javascript" src="/static/timbre/js/xml.js"></script>
        <script type="text/javascript" src="/static/timbre/js/htmlmixed.js"></script>
        <script type="text/javascript" src="/static/timbre/js/subcollider.js"></script>
        <script type="text/javascript" src="/static/timbre/js/common.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </div><!-- end of .content-wrapper -->
</body>
</html>
