        <div class="footer">
            <p>Facebooc &copy; 2016</p>
        </div>
    </div>
    <script type="text/javascript" src="/static/jq_plugin/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/angular-1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="/static/angular-1.5.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
