<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">

    <title>Facebooc &raquo; {{subtitle}}</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
          rel="stylesheet" type="text/css">
    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    {%include templates/navbar.html%}
