<!doctype html>
<html lang="en-us">
<head>
    <title>Facebooc &raquo; {{subtitle}}</title>

    <link rel="stylesheet"
          type="text/css"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="/static/css/main.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/signup/">Sign Up</a></li>
                <li><a href="/about/">About</a></li>
            </ul>

            <h3 class="text-muted">Facebooc</h3>
        </div>
