{%include templates/header.html%}
<form action="" method="POST">
    <label for="username">Username: </label>
    <input type="text" id="username"
           name="username"
           value="{{formUsername}}" />
    <label for="username" class="error">{{usernameError}}</label>

    <br/>

    <label for="password">Password: </label>
    <input type="password" id="password" name="password" />
    <label for="password" class="error">{{passwordError}}</label>

    <br/>

    <input type="submit" />
</form>
{%include templates/footer.html%}
